#startGame1 {
    background-color: #0F0;
    color: #000;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

#game1Result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #F00;
}
