body {
    background-color: #000;
    color: #0F0;
    font-family: 'Courier New', monospace;
    margin: 0;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #0F0;
    text-decoration: none;
    margin: 0 10px;
}

.content {
    padding: 20px;
}

footer {
    background-color: #333;
    padding: 10px;
    color: #0F0;
    text-align: center;
}
