/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    color: #007bff;
}

section {
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

